.login-header {
    padding-bottom: 5px;
}

.login {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.login-box {
    border: 3px solid rgb(83, 84, 84);
    width: auto;
    height: auto;
    max-width: 25em;
    max-height: 30em;
    margin-top: 5em;
    border-radius: 5px;
}

.login-btn {
    width: auto;
    height: auto;
    background-color: var(--light-blue);
    color: var(--white);
    border: thin solid white;
    border-radius: 3px;
    padding: 2px;
}

.google-logo {
    background-color: var(--white);
    padding: 2px;
    border-radius: 3px;
}

.spacer {
    white-space: pre;
}

.header {
    text-align: center;
    padding-bottom: 3em;
}

.toggle-register {
    text-align: center;
    color: blue;
    padding-bottom: 1em;
}

.toggle-register:hover {
    text-decoration: underline;
}

.submit-btn {
    border-radius: 3px;
    background-color: var(--white);
}

.submit-btn:hover {
    color: var(--light-blue);
}
